{{#section 'title'}}
	Nhà sách Hydro
{{/section}}
{{#section 'js'}}
	<script type="text/javascript">
		$('.addItem').on('click', function() {
		    var id = $(this).data('proid');
		    $('#txtP').val(id);
		    $('#txtQ').val(1);
		    $('#frmAddItem').submit();
		});
	</script>
{{/section}}
{{#section 'nav'}}
	<!-- NAV -->
	<li class="active"><a href="/home"><i class="fas fa-home"></i> Trang chủ</a></li>
		
		<li class="dropdown"><a href="#"><i class="fas fa-bars"></i> Xem theo loại sách</a>
			<div class="dropdown-content">
				{{#each layoutVM.categories}}
				<a href="/category/{{CatID}}">{{CatName}}</a>			
				{{/each}}
			</div>
		</li>
		<li class="dropdown"><a href="#"><i class="fas fa-bars"></i> Xem theo nhà xuất bản</a>
			<div class="dropdown-content">
				{{#each layoutVM2.producers}}
				<a href="/producer/{{ProduID}}">{{ProduName}}</a>
				{{/each}}
			</div>
		</li>
	<!-- /NAV -->
{{/section}}

{{#section 'carousel'}}
	<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img width="100%" height="auto" src="/imgs/cover1.png" alt="Los Angeles">
			</div>

			<div class="item">
				<img width="100%" height="auto" src="/imgs/cover1.png" alt="Chicago">
			</div>

			<div class="item">
				<img width="100%" height="50%" src="/imgs/cover3.png" alt="New York">
			</div>
		</div>
{{/section}}
<form type="hidden" id="frmAddItem" method="post" action="/account/cart/add">
	<input type="hidden" name="proId" id="txtP">
	<input type="hidden" name="quantity" id="txtQ">
</form>
{{#section 'title1'}}
	<!-- section title -->
		<div class="col-md-12">
			<div class="section-title">
				<h3 class="title">SÁCH BÁN CHẠY NHẤT</h3>
						
			</div>
		</div>
	<!-- /section title -->

	<!-- Products tab & slick -->
	<div class="col-md-12">
		<div class="row">

			<div class="products-tabs">
				<!-- tab -->
				<div id="tab1" class="tab-pane active">
					<div class="products-slick" data-nav="#slick-nav-1">
						<!-- product -->
						{{#each layoutbySale.bySale}}
							<div class="product">
								<a href="/product/detail/{{ProID}}">
									<div class="product-img">
										<img src="/imgs/{{ProID}}/main_images.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">{{ProduName}}</p>
										<h3 class="product-name">{{ProName}}</h3>
										<h4 class="product-price">{{number_format Price}} ₫ </h4>
									</div>
									{{#if ../layoutVM.isLogged}}
										<div class="add-to-cart">
											<a data-proid="{{ProID}}" href="javascript:;" class=" addItem">
												<button class="add-to-cart-btn">
													<i class="fa fa-shopping-cart"></i>THÊM VÀO GIỎ</button>
											</a>
										</div>
									{{/if}}
								</a>
							</div>
						{{/each}}
						<!-- /product -->
					</div>
					<div id="slick-nav-1" class="products-slick-nav"></div>
				</div>
				<!-- /tab -->
			</div>
		</div>
	</div>
	<!-- Products tab & slick -->
{{/section}}


{{#section 'title2'}}
	<!-- section title -->
		<div class="col-md-12">
			<div class="section-title">
				<h3 class="title">SÁCH MỚI NHẤT</h3>
						
			</div>
		</div>
	<!-- /section title -->

	<!-- Products tab & slick -->
	<div class="col-md-12">
		<div class="row">
			<div class="products-tabs">
				<!-- tab -->
				<div id="tab1" class="tab-pane active">
					<div class="products-slick" data-nav="#slick-nav-2">
						{{#each layoutbyNew.byNew}}
						<div class="product">
								<a href="/product/detail/{{ProID}}">
									<div class="product-img">
										<img src="/imgs/{{ProID}}/main_images.jpg" alt="">
										<div class="product-label">
											<span class="new">NEW</span>
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">{{ProduName}}</p>
										<h3 class="product-name">{{ProName}}</h3>
										<h4 class="product-price">{{number_format Price}} ₫ </h4>
									</div>
									{{#if ../layoutVM.isLogged}}
										<div class="add-to-cart">
											<a data-proid="{{ProID}}" href="javascript:;" class=" addItem">
												<button class="add-to-cart-btn">
													<i class="fa fa-shopping-cart"></i>THÊM VÀO GIỎ</button>
											</a>
										</div>
									{{/if}}
								</a>
							</div>
						{{/each}}
					</div>
					<div id="slick-nav-2" class="products-slick-nav"></div>
				</div>
				<!-- /tab -->
			</div>
		</div>
	</div>
	<!-- Products tab & slick -->
{{/section}}


{{#section 'title3'}}
	<!-- section title -->
		<div class="col-md-12">
			<div class="section-title">
				<h3 class="title">SÁCH ĐƯỢC XEM NHIỀU NHẤT</h3>
						
			</div>
		</div>
	<!-- /section title -->

	<!-- Products tab & slick -->
	<div class="col-md-12">
		<div class="row">
			<div class="products-tabs">
				<!-- tab -->
				<div id="tab1" class="tab-pane active">
					<div class="products-slick" data-nav="#slick-nav-3">
						<!-- product -->
						{{#each layoutbyView.byView}}
							<div class="product">
								<a href="/product/detail/{{ProID}}">
									<div class="product-img">
										<img src="/imgs/{{ProID}}/main_images.jpg" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">{{ProduName}}</p>
										<h3 class="product-name">{{ProName}}</h3>
										<h4 class="product-price">{{number_format Price}} ₫ </h4>
									
									</div>
									{{#if ../layoutVM.isLogged}}
										<div class="add-to-cart">
											<a data-proid="{{ProID}}" href="javascript:;" class=" addItem">
												<button class="add-to-cart-btn">
													<i class="fa fa-shopping-cart"></i>THÊM VÀO GIỎ</button>
											</a>
										</div>
									{{/if}}
								</a>
							</div>
						{{/each}}
						<!-- /product -->

					</div>
					<div id="slick-nav-3" class="products-slick-nav"></div>
				</div>
				<!-- /tab -->
			</div>
		</div>
	</div>
	<!-- Products tab & slick -->
{{/section}}

		